[Desktop Entry]
Name=Nuvola Player 3
GenericName=Cloud Player
Comment=Cloud music integration for your Linux desktop
Exec=nuvolaplayer3
Icon=nuvolaplayer
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Network;
