.backtotop {
  position: fixed;
  display: block;
  bottom: 0em;
  z-index: 100;
  background-color: #eee;
  padding: 0.5em;
}

.footer {
  padding-bottom: 0.5em;
}

dl dt {
  border-bottom: 1px solid #ddd;
}

dl dd {
  margin-left: 40px;
}

.sidebar ul {
  margin-left: 0px;
  padding-left: 12px;
}

.sidebar ul ul{
  margin-left: 12px;
  padding-left: 12px;
}
