[Desktop Entry]
Name=@APP_NAME@
GenericName=@GENERIC_NAME@
Comment=@BLURB@
Exec=@EXEC@
Icon=@APP_ID@
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=@WMCLASS@
Categories=AudioVideo;Audio;Network;
